.csv-importer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.importer-upload-section {
  padding: 20px;
}

.importer-preview-section {
  padding: 20px;
}

.file-name {
  text-align: center;
  font-style: italic;
  color: #666;
  margin: 10px 0;
}
